openapi: 3.1.0
info:
  title: Qweekle Dev API
  description: |-
    Qweekle's public REST API, allows the user to query Qweekle's data model et get JSON responses.
    To operate in as RESTful of a manner as possible, the Qweekle API requires multiple headers to carry state of each request :
    - Authorization : Bearer <your_user_s_bearer_token>
    - tenant : <the_identifying_qweekle_account_id>
    - venture : <the_current_venture_id>
    - pos (optional) : <the_active_pos_id> (some actions require a pos for business logic and compliance reasons)
  version: 1.0.0
servers:
  - url: 'https://nextapi.qweekle.at/api'
  - url: 'https://api.qweekle-beta.com/api'
paths:
  /acceptances:
    get:
      tags:
        - Acceptances
      operationId: listAcceptances
      parameters:
        - name: 'filter[clients.email]'
          in: query
          description: Filter acceptances with a partial email.
          required: false
          schema:
            type: string
            format: email
          example: client@qweekle.com
        - name: 'filter[accepted_at]'
          in: query
          description: Filter acceptances with a partial acceptation datetime.
          required: false
          schema:
            type: string
          example: '2023-01-02T00:00:00'
        - name: 'filter[accepted_src]'
          in: query
          description: Filter acceptances with an EXACT source
          required: false
          schema:
            type: string
          example: <Your_source>
        - name: 'filter[accepted_key]'
          in: query
          description: Filter acceptances with an EXACT key
          required: false
          schema:
            type: string
          example: <Your_key>
        - name: 'filter[client_id]'
          in: query
          description: Filter acceptances with an EXACT client ID
          required: false
          schema:
            type: string
          example: <Your_client_id>
        - name: 'filter[venture_id]'
          in: query
          description: Filter acceptances with an EXACT venture ID
          required: false
          schema:
            type: string
          example: <Your_venture_id>
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Acceptance'
                  metadata:
                    type: array
                    items:
                      type: object
                type: object
        '404':
          description: No Match for query
  /access/check-code:
    post:
      tags:
        - Access
      operationId: 017c03a3ab47362c1937a120f9e3c4a3
      requestBody:
        $ref: '#/components/requestBodies/CheckCodeRequest'
      responses:
        '200':
          description: Access granted
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Access granted
                type: object
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Access denied
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Internal server error
                type: object
  /access/credentials:
    get:
      tags:
        - Access
      operationId: listAccessCredentials
      parameters:
        - name: 'filter[code]'
          in: query
          description: Filter access_credentials with a partial code
          required: false
          schema:
            type: string
          example: <Your_credential_code>
        - name: 'filter[sale_id]'
          in: query
          description: Filter access_credentials with an EXACT sale_id
          required: false
          schema:
            type: string
          example: <Your_sale_id>
        - name: 'filter[order_id]'
          in: query
          description: Scope access_credentials with an EXACT order_id
          required: false
          schema:
            type: string
          example: <Your_order_id>
        - name: 'filter[venture_id]'
          in: query
          description: Filter access_credentials with an EXACT venture ID
          required: false
          schema:
            type: string
          example: <Your_venture_id>
        - name: 'filter[ref_id]'
          in: query
          description: Filter access_credentials with an EXACT ref ID
          required: false
          schema:
            type: string
          example: <Your_ref_id>
        - name: 'filter[ref_type]'
          in: query
          description: Filter access_credentials with an EXACT ref type
          required: false
          schema:
            type: string
          example: <Your_ref_type>
        - name: 'filter[client_buyer]'
          in: query
          description: Filter credentials by buyer client's name or society
          required: false
          schema:
            type: string
          example: Doe
        - name: 'filter[user_search]'
          in: query
          description: Filter credentials by user client's name or society
          required: false
          schema:
            type: string
          example: Smith
        - name: 'filter[number]'
          in: query
          description: Filter credentials with a partial number
          required: false
          schema:
            type: string
          example: C-0001
        - name: 'filter[ticket_number]'
          in: query
          description: Scope credentials with an EXACT ticket number
          required: false
          schema:
            type: string
          example: 629f2bcf29652
        - name: 'filter[sale_number]'
          in: query
          description: Scope credentials with an EXACT sale number
          required: false
          schema:
            type: string
          example: S-12345
        - name: 'filter[sold_between]'
          in: query
          description: Filter credentials sold between two dates
          required: false
          schema:
            type: string
          example: '2023-01-01,2023-01-31'
        - name: 'filter[used_at]'
          in: query
          description: Filter credentials used on a specific date
          required: false
          schema:
            type: string
            format: date
          example: '2023-01-01'
        - name: 'filter[expired_at]'
          in: query
          description: Filter credentials expiring on a specific date
          required: false
          schema:
            type: string
            format: date
          example: '2023-12-31'
        - name: 'filter[created_between]'
          in: query
          description: Filter credentials created between two dates (comma separated)
          required: false
          schema:
            type: string
          example: '2023-02-01,2023-02-15'
        - name: 'filter[expired_between]'
          in: query
          description: Filter credentials expired between two dates (comma separated)
          required: false
          schema:
            type: string
          example: '2023-02-01,2023-02-15'
        - name: 'filter[is_used]'
          in: query
          description: Filter credentials by usage state (true/false)
          required: false
          schema:
            type: string
          example: 'true'
        - name: 'filter[usage_count_greater_than]'
          in: query
          description: Filter credentials with at least the provided number of usages
          required: false
          schema:
            type: integer
          example: '2'
        - name: 'filter[only_deleted]'
          in: query
          description: Return only deleted credentials
          required: false
          schema:
            type: boolean
          example: 'true'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AccessCredential'
                  metadata:
                    type: array
                    items:
                      type: object
                type: object
        '404':
          description: No Match for query
  /access/credentials/export:
    post:
      tags:
        - Access
      operationId: exportAccessCredentials
      parameters:
        - name: 'filter[code]'
          in: query
          description: Filter access_credentials with a partial code
          required: false
          schema:
            type: string
          example: <Your_credential_code>
        - name: 'filter[sale_id]'
          in: query
          description: Filter access_credentials with an EXACT sale_id
          required: false
          schema:
            type: string
          example: <Your_sale_id>
        - name: 'filter[order_id]'
          in: query
          description: Scope access_credentials with an EXACT order_id
          required: false
          schema:
            type: string
          example: <Your_order_id>
        - name: 'filter[venture_id]'
          in: query
          description: Filter access_credentials with an EXACT venture ID
          required: false
          schema:
            type: string
          example: <Your_venture_id>
        - name: 'filter[ref_id]'
          in: query
          description: Filter access_credentials with an EXACT ref ID
          required: false
          schema:
            type: string
          example: <Your_ref_id>
        - name: 'filter[ref_type]'
          in: query
          description: Filter access_credentials with an EXACT ref type
          required: false
          schema:
            type: string
          example: <Your_ref_typê>
        - name: 'filter[created_between]'
          in: query
          description: Filter credentials created between two dates (comma separated)
          required: false
          schema:
            type: string
          example: '2023-02-01,2023-02-15'
        - name: 'filter[expired_between]'
          in: query
          description: Filter credentials expired between two dates (comma separated)
          required: false
          schema:
            type: string
          example: '2023-02-01,2023-02-15'
        - name: 'filter[is_used]'
          in: query
          description: Filter credentials by usage state (true/false)
          required: false
          schema:
            type: string
          example: 'true'
        - name: 'filter[usage_count_greater_than]'
          in: query
          description: Filter credentials with at least the provided number of usages
          required: false
          schema:
            type: integer
          example: '2'
        - name: 'filter[only_deleted]'
          in: query
          description: Return only deleted credentials
          required: false
          schema:
            type: boolean
          example: 'true'
      responses:
        '200':
          description: Success
          content:
            application/pdf: {}
        '401':
          description: Not allowed
  '/access/credentials/{credential_id}':
    patch:
      tags:
        - Access
      description: Update fields of an existing access credential resource.
      operationId: updateAccessCredential
      parameters:
        - name: credential_id
          in: path
          description: UUID of the access credential to update
          required: true
          schema:
            type: string
            format: uuid
            example: 8a4b3e96-1f5c-42b9-a4f1-1f0b2b18c40a
      requestBody:
        $ref: '#/components/requestBodies/UpdateAccessCredentialRequest'
      responses:
        '200':
          description: Access credential successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessCredential'
        '404':
          description: Credential not found
        '422':
          description: Validation error
  '/access/credentials/{credential_id}/pdf':
    get:
      tags:
        - Access
      operationId: 6efd475fe10cd7da419d124d45c845a3
      parameters:
        - name: credential_id
          in: path
          description: The credential_id of the Access Credential we wish to get.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/pdf: {}
        '202':
          description: Accepted
          content:
            application/json: {}
        '401':
          description: Not allowed
  '/access/credentials/{crendential_id}':
    get:
      tags:
        - Access
      operationId: showAccessCredential
      parameters:
        - name: crendential_id
          in: path
          description: Id of the credential we wish to review.
          required: true
          schema:
            type: string
        - name: include
          in: query
          description: Sub-resources to include
          required: false
          schema:
            type: string
          example: 'logs,rules'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessCredential'
        '404':
          description: No Match for query
  /access/logs:
    get:
      tags:
        - Access
      operationId: listAccessLogs
      parameters:
        - name: 'filter[code]'
          in: query
          description: Filter access_logs with a partial code
          required: false
          schema:
            type: string
          example: <Your_credential_code>
        - name: 'filter[credential_id]'
          in: query
          description: Filter access_logs with an EXACT credential ID
          required: false
          schema:
            type: string
          example: <Your_credential_code>
        - name: 'filter[access_point_id]'
          in: query
          description: Filter access_logs with an EXACT access_point ID
          required: false
          schema:
            type: string
          example: <Your_venture_id>
        - name: 'filter[rule_id]'
          in: query
          description: Filter access_logs with an EXACT rule ID
          required: false
          schema:
            type: string
          example: <Your_venture_id>
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AccessLog'
                  metadata:
                    type: array
                    items:
                      type: object
                type: object
        '404':
          description: No Match for query
  /access/point-groups:
    get:
      tags:
        - Access
      operationId: listAccessPointGroups
      parameters:
        - name: 'filter[label]'
          in: query
          description: Filter access_point_groups with a partial label
          required: false
          schema:
            type: string
          example: <Your_label>
        - name: 'filter[venture_id]'
          in: query
          description: Filter access_point_groups with an EXACT venture ID
          required: false
          schema:
            type: string
          example: <Your_venture_id>
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AccessPointGroup'
                  metadata:
                    type: array
                    items:
                      type: object
                type: object
        '401':
          description: Not allowed
        '404':
          description: No Match for query
    post:
      tags:
        - Access
      operationId: storeAccessPointGroup
      requestBody:
        $ref: '#/components/requestBodies/CreateAccessPointGroupRequest'
      responses:
        '200':
          description: Success
        '401':
          description: Not allowed
  '/access/point-groups/{access_point_group_id}':
    get:
      tags:
        - Access
      operationId: showAccessPointGroup
      parameters:
        - name: access_point_group_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
        '401':
          description: Not allowed
    delete:
      tags:
        - Access
      operationId: deleteAccessPointGroup
      parameters:
        - name: access_point_group_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/DeleteAccessPointGroupRequest'
      responses:
        '200':
          description: Success
        '401':
          description: Not allowed
    patch:
      tags:
        - Access
      operationId: updateAccessPointGroup
      parameters:
        - name: access_point_group_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/UpdateAccessPointGroupRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessPointGroup'
        '401':
          description: Not allowed
  /access/points:
    get:
      tags:
        - Access
      operationId: listAccessPoints
      parameters:
        - name: 'filter[label]'
          in: query
          description: Filter access_points with a partial label
          required: false
          schema:
            type: string
          example: <Your_label>
        - name: 'filter[venture_id]'
          in: query
          description: Filter access_points with an EXACT venture ID
          required: false
          schema:
            type: string
          example: <Your_venture_id>
        - name: 'filter[access_point_group_id]'
          in: query
          description: Filter access_points with an EXACT group ID
          required: false
          schema:
            type: string
          example: <Your_group_id>
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AccessPoint'
                  metadata:
                    type: array
                    items:
                      type: object
                type: object
        '404':
          description: No Match for query
    post:
      tags:
        - Access
      operationId: storeAccessPoint
      requestBody:
        $ref: '#/components/requestBodies/CreateAccessPointRequest'
      responses:
        '200':
          description: Success
        '401':
          description: Not allowed
  '/access/points/{access_point_id}':
    get:
      tags:
        - Access
      operationId: showAccessPoint
      parameters:
        - name: access_point_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
        '401':
          description: Not allowed
    delete:
      tags:
        - Access
      operationId: deleteAccessPoint
      parameters:
        - name: access_point_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/DeleteAccessPointRequest'
      responses:
        '200':
          description: Success
    patch:
      tags:
        - Access
      operationId: updateAccessPoint
      parameters:
        - name: access_point_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/UpdateAccessPointRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessPoint'
        '401':
          description: Not allowed
  /access/rule-templates:
    get:
      tags:
        - Access
      operationId: listAccessRuleTemplates
      parameters:
        - name: 'filter[label]'
          in: query
          description: Filter access_rule_templates with a partial label
          required: false
          schema:
            type: string
          example: <Your_label>
        - name: 'filter[venture_id]'
          in: query
          description: Filter access_rule_templates with an EXACT venture ID
          required: false
          schema:
            type: string
          example: <Your_venture_id>
        - name: include
          in: query
          description: Sub-resources to include
          required: false
          schema:
            type: string
          example: rules
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AccessRuleTemplateGroup'
                  metadata:
                    type: array
                    items:
                      type: object
                type: object
        '404':
          description: No Match for query
    post:
      tags:
        - Access
      operationId: storeAccessRuleTemplate
      requestBody:
        $ref: '#/components/requestBodies/CreateAccessRuleTemplateGroupRequest'
      responses:
        '200':
          description: Success
        '401':
          description: Not allowed
  '/access/rule-templates/{access_rule_template_id}':
    get:
      tags:
        - Access
      operationId: showAccessRuleTemplate
      parameters:
        - name: access_rule_template_id
          in: path
          required: true
          schema:
            type: string
        - name: withCount
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Success
        '401':
          description: Not allowed
    delete:
      tags:
        - Access
      operationId: deleteAccessRuleTemplate
      parameters:
        - name: access_rule_template_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/DeleteAccessRuleTemplateGroupRequest'
      responses:
        '200':
          description: Success
    patch:
      tags:
        - Access
      operationId: updateAccessRuleTemplate
      parameters:
        - name: access_rule_template_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/UpdateAccessRuleTemplateGroupRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessPoint'
        '401':
          description: Not allowed
  '/access/rule-templates/{access_rule_template_id}/mass-update':
    post:
      tags:
        - Access
      operationId: accessRulesMassUpdate
      parameters:
        - name: access_rule_template_id
          in: path
          description: ID of the access rule template group
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/requestBodies/AccessRulesMassUpdateRequest'
      responses:
        '200':
          description: Batch job created successfully
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      type: object
                  metadata:
                    properties:
                      batched_job_scheduled_at:
                        type: string
                        format: date-time
                      has_notification:
                        type: boolean
                      progress_url:
                        type: string
                        format: uri
                    type: object
                type: object
  /account-codes:
    get:
      tags:
        - Account Codes
      operationId: listAccountCodes
      responses:
        '200':
          description: Success
        '401':
          description: Not allowed
    post:
      tags:
        - Account Codes
      operationId: storeAccountCodeLabel
      requestBody:
        $ref: '#/components/requestBodies/CreateAccountCodeLabelRequest'
      responses:
        '201':
          description: Success
        '401':
          description: Not allowed
  '/account-codes/{account_code_id}':
    get:
      tags:
        - Account Codes
      operationId: 97cb3162319674482c742a0edeade264
      parameters:
        - name: account_code_id
          in: path
          required: true
          schema:
            type: string
          example: <ACCOUNT_CODE_ID>
      responses:
        '200':
          description: Success
        '401':
          description: Not allowed
  '/account-codes/{account_code_label}':
    patch:
      tags:
        - Account Codes
      operationId: updateAccountCodeLabel
      parameters:
        - name: account_code_label
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/UpdateAccountCodeLabelRequest'
      responses:
        '200':
          description: Success
        '401':
          description: Not allowed
  '/account-codes/{account_code_label}/usages':
    get:
      tags:
        - Account Codes
      operationId: listAccountCodeUsages
      parameters:
        - name: account_code_label
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
        '401':
          description: Not allowed
  /agenda-templates:
    get:
      tags:
        - Agenda Templates
      operationId: listAgendaTemplates
      parameters:
        - name: 'filter[venture_id]'
          in: query
          description: Filter by exact venture ID
          required: false
          schema:
            type: string
            example: df9f2df0-0173-11eb-b0e6-dd3c04707d06
        - name: 'filter[label]'
          in: query
          description: Filter by partial match on the label
          required: false
          schema:
            type: string
            example: vacances été
        - name: 'filter[archived]'
          in: query
          description: 'Filter by archive status: all (default), only, exclude'
          required: false
          schema:
            type: string
            enum:
              - all
              - only
              - exclude
            example: all
        - name: include
          in: query
          description: Load sub-resources in the response
          required: false
          schema:
            type: string
            example: agendasCount
        - name: sort
          in: query
          description: 'Sort by fields. Prefix with "-" for descending. Allowed: label, created_at'
          required: false
          schema:
            type: string
            example: '-created_at'
        - name: page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
            example: 1
        - name: per_page
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            example: 50
      responses:
        '200':
          description: Paginated list of agenda templates
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AgendaTemplate'
                  metadata:
                    properties:
                      current_page:
                        type: integer
                        example: 1
                    type: object
                type: object
    post:
      tags:
        - Agenda Templates
      operationId: storeAgendaTemplate
      requestBody:
        $ref: '#/components/requestBodies/CreateAgendaTemplateRequest'
      responses:
        '201':
          description: Agenda template created successfully
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/AgendaTemplate'
                  metadata:
                    type: object
                type: object
        '422':
          description: Validation error
  '/agenda-templates/{template_id}':
    get:
      tags:
        - Agenda Templates
      operationId: showAgendaTemplate
      parameters:
        - name: template_id
          in: path
          description: UUID of the agenda template
          required: true
          schema:
            type: string
            format: uuid
            example: cc5a1e6b-8e3c-4b1a-9081-939845e1d5bc
      responses:
        '200':
          description: Agenda template retrieved successfully
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/AgendaTemplate'
                type: object
        '404':
          description: Template not found
    delete:
      tags:
        - Agenda Templates
      operationId: deleteAgendaTemplate
      parameters:
        - name: template_id
          in: path
          description: UUID of the agenda template
          required: true
          schema:
            type: string
            format: uuid
            example: cc5a1e6b-8e3c-4b1a-9081-939845e1d5bc
      requestBody:
        $ref: '#/components/requestBodies/DeleteAgendaTemplateRequest'
      responses:
        '204':
          description: Agenda template successfully deleted
        '403':
          description: Forbidden
        '404':
          description: Template not found
    patch:
      tags:
        - Agenda Templates
      description: Update an existing agenda template.
      operationId: updateAgendaTemplate
      parameters:
        - name: template_id
          in: path
          description: UUID of the agenda template to update
          required: true
          schema:
            type: string
            format: uuid
            example: cc5a1e6b-8e3c-4b1a-9081-939845e1d5bc
      requestBody:
        $ref: '#/components/requestBodies/UpdateAgendaTemplateRequest'
      responses:
        '200':
          description: Agenda template updated successfully
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/AgendaTemplate'
                  metadata:
                    type: object
                type: object
        '404':
          description: Template not found
        '422':
          description: Validation error
  '/agenda-templates/{template_id}/agendas':
    get:
      tags:
        - Agenda Templates
      operationId: listTemplatedAgendas
      parameters:
        - name: template_id
          in: path
          required: true
          schema:
            type: string
        - name: 'filter[starts_between]'
          in: query
          description: Scope templated agendas which start between two datetimes
          required: false
          schema:
            type: string
          example: '<day_index>T00:00:00,<day_index>T00:00:00'
        - name: 'filter[suspended]'
          in: query
          description: Filter agendas which are suspended or not suspended
          required: false
          schema:
            type: boolean
          example: 'true'
        - name: 'filter[activities.id]'
          in: query
          description: Filter agendas with an EXACT activity ID
          required: false
          schema:
            type: string
          example: <Your_venture_id>
        - name: 'filter[locations.label]'
          in: query
          description: Filter agendas with a partial location Label
          required: false
          schema:
            type: string
          example: Track 3
        - name: 'filter[locations.id]'
          in: query
          description: Filter agendas with an EXACT location ID
          required: false
          schema:
            type: string
          example: <Your_location_id>
        - name: 'filter[hour_types.label]'
          in: query
          description: Filter agendas with a partial hour_type Label
          required: false
          schema:
            type: string
          example: morning
        - name: 'filter[hour_types.id]'
          in: query
          description: Filter agendas with an EXACT hour_type ID
          required: false
          schema:
            type: string
          example: <Your_hour_type_id>
        - name: 'filter[subcategory.label]'
          in: query
          description: Filter agendas with a partial subcategory Label
          required: false
          schema:
            type: string
          example: Junior karts
        - name: 'filter[subcategory_id]'
          in: query
          description: Filter agendas with and EXACT subcategory ID
          required: false
          schema:
            type: string
          example: <Your_subcategory_id>
        - name: 'filter[day_index]'
          in: query
          description: Filter agendas with and EXACT day_index
          required: false
          schema:
            type: string
          example: <Your_subcategory_id>
        - name: include
          in: query
          description: which subresources to include
          required: false
          schema:
            type: string
          example: 'activities,subcategory,location,hourType'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TemplatedAgenda'
                  metadata:
                    type: array
                    items:
                      type: object
                type: object
        '404':
          description: No Match for query
    post:
      tags:
        - Agenda Templates
      operationId: storeTypicalWeekAgenda
      parameters:
        - name: template_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/CreateTemplatedAgendaRequest'
      responses:
        '201':
          description: Success
    delete:
      tags:
        - Agenda Templates
      operationId: batchDeleteTemplatedAgenda
      parameters:
        - name: template_id
          in: path
          description: UUID of the agenda template
          required: true
          schema:
            type: string
            format: uuid
            example: at5a1e6b-8e3c-4b1a-9081-939845e1d5bc
      requestBody:
        $ref: '#/components/requestBodies/BatchDeleteTemplatedAgendaRequest'
      responses:
        '204':
          description: Templated agendas successfully deleted
        '403':
          description: Forbidden
        '404':
          description: Templated agendas not found
    patch:
      tags:
        - Agenda Templates
      description: |-
        Updates multiple templated agendas by ID. The updatable fields may be restricted depending on the similarity between agendas:
                    - If all agendas share the same subcategory and location → full update allowed
                    - If all agendas share only the same location → some fields may be restricted
                    - If agendas differ by both location and subcategory → only minimal fields (e.g., `hour_type_id`) may be updated
      operationId: batchUpdateAgendaTemplates
      parameters:
        - name: template_id
          in: path
          description: UUID of the agenda template
          required: true
          schema:
            type: string
            format: uuid
            example: c7c38e17-465a-4a8e-bca5-958f4a5aa8c9
      requestBody:
        $ref: '#/components/requestBodies/BatchUpdateTemplatedAgendaRequest'
      responses:
        '200':
          description: Batch update successful
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      updated_count:
                        type: integer
                        example: 2
                    type: object
                  metadata:
                    type: object
                type: object
        '404':
          description: Agenda template not found
        '422':
          description: Validation error
  '/agenda-templates/{template_id}/agendas/duplicate':
    post:
      tags:
        - Agenda Templates
      description: 'Duplicates multiple templated agendas either before or after their original time slot, while avoiding overlaps with existing agendas. Returns only the successfully created duplicates.'
      operationId: duplicateTemplatedAgendas
      parameters:
        - name: template_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/BatchDuplicateTemplatedAgendaRequest'
      responses:
        '201':
          description: Templated agendas successfully duplicated
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TemplatedAgenda'
        '422':
          description: Validation error
  '/agenda-templates/{template_id}/agendas/{agenda_id}':
    delete:
      tags:
        - Agenda Templates
      operationId: deleteTemplatedAgenda
      parameters:
        - name: template_id
          in: path
          description: UUID of the agenda template
          required: true
          schema:
            type: string
            format: uuid
            example: at5a1e6b-8e3c-4b1a-9081-939845e1d5bc
        - name: agenda_id
          in: path
          description: UUID of the templated agenda
          required: true
          schema:
            type: string
            format: uuid
            example: cc5a1e6b-8e3c-4b1a-9081-939845e1d5bc
      requestBody:
        $ref: '#/components/requestBodies/DeleteTemplatedAgendaRequest'
      responses:
        '204':
          description: Templated agenda successfully deleted
        '403':
          description: Forbidden
        '404':
          description: Templated agenda not found
    patch:
      tags:
        - Agenda Templates
      operationId: UpdateTemplatedAgenda
      parameters:
        - name: template_id
          in: path
          required: true
          schema:
            type: string
        - name: agenda_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/UpdateTemplatedAgendaRequest'
      responses:
        '200':
          description: Success
  '/agenda-templates/{template_id}/duplicateDay':
    post:
      tags:
        - Agenda Templates
      operationId: duplicateAgendaTemplateDay
      parameters:
        - name: template_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/DuplicateTemplateDayRequest'
      responses:
        '201':
          description: Templated agendas duplicated
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TemplatedAgenda'
        '422':
          description: Validation error
  '/agenda-templates/{template_id}/duplicateLine':
    post:
      tags:
        - Agenda Templates
      operationId: duplicateAgendaTemplateLine
      parameters:
        - name: template_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/DuplicateTemplateLineRequest'
      responses:
        '201':
          description: Templated agendas duplicated
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TemplatedAgenda'
        '422':
          description: Validation error
  '/agenda-templates/{template_id}/preview':
    post:
      tags:
        - Agenda Templates
      operationId: startAgendaTemplatePreviewDeployment
      parameters:
        - name: template_id
          in: path
          description: UUID of the agenda template (typical_week)
          required: true
          schema:
            type: string
            example: b1740aa1-760b-4d2d-b28d-6f9f908f51ab
      requestBody:
        $ref: '#/components/requestBodies/PreviewDeploymentRequest'
      responses:
        '202':
          description: Preview batch started successfully
          content:
            application/json:
              schema:
                properties:
                  metadata:
                    properties:
                      batch_id:
                        type: string
                        example: 9d7f7ee8-49f7-4ac4-b19a-eba69d9a3c5e
                      status:
                        type: string
                        example: pending
                    type: object
                type: object
        '404':
          description: Template not found
        '422':
          description: Validation error
  '/agenda-templates/{template_id}/preview/{batch_id}':
    get:
      tags:
        - Agenda Templates
      operationId: getAgendaTemplatePreviewByBatch
      parameters:
        - name: template_id
          in: path
          description: UUID of the agenda template (typical_week)
          required: true
          schema:
            type: string
            example: cc5a1e6b-8e3c-4b1a-9081-939845e1d5bc
        - name: batch_id
          in: path
          description: Batch ID associated with the preview request
          required: true
          schema:
            type: string
            example: 9d7f7ee8-49f7-4ac4-b19a-eba69d9a3c5e
      responses:
        '200':
          description: Preview result for the specified batch
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      properties:
                        date:
                          type: string
                          format: date
                        deleted_agendas_count:
                          type: integer
                        simulated_agendas_count:
                          type: integer
                        affected_bookings_count:
                          type: integer
                        reattached_existing_orphans_count:
                          type: integer
                        reattached_transferred_count:
                          type: integer
                        will_become_orphaned_count:
                          type: integer
                      type: object
                  metadata:
                    properties:
                      dates_count:
                        type: integer
                      deleted_agendas_total:
                        type: integer
                      simulated_agendas_total:
                        type: integer
                      affected_bookings_total:
                        type: integer
                      reattached_existing_orphans_total:
                        type: integer
                      reattached_transferred_total:
                        type: integer
                      will_become_orphaned_total:
                        type: integer
                    type: object
                type: object
        '404':
          description: Template or batch not found
  /agendas:
    get:
      tags:
        - Agendas
      operationId: listAgendas
      parameters:
        - name: 'filter[start_at]'
          in: query
          description: Filter agendas with a partial start datetime
          required: false
          schema:
            type: string
            format: date-time
          example: '2025-01-01'
        - name: 'filter[end_at]'
          in: query
          description: Filter agendas with a partial end datetime
          required: false
          schema:
            type: string
            format: date-time
          example: '2023-01-01'
        - name: 'filter[starts_between]'
          in: query
          description: Scope agendas which start between two datetimes
          required: false
          schema:
            type: string
          example: '2023-01-01T00:00:00,2023-01-02T00:00:00'
        - name: 'filter[ends_between]'
          in: query
          description: Scope agendas which end between two datetimes
          required: false
          schema:
            type: string
          example: '2023-01-01T00:00:00,2023-01-02T00:00:00'
        - name: 'filter[created_at]'
          in: query
          description: Filter agendas with a partial creation datetime
          required: false
          schema:
            type: string
            format: date-time
          example: '2023-01-01'
        - name: 'filter[updated_at]'
          in: query
          description: Filter agendas with a partial update datetime
          required: false
          schema:
            type: string
            format: date-time
          example: '2023-01-01'
        - name: 'filter[suspended]'
          in: query
          description: Filter agendas which are suspended or not suspended
          required: false
          schema:
            type: boolean
          example: 'true'
        - name: 'filter[venture_id]'
          in: query
          description: Filter agendas with an EXACT venture ID
          required: false
          schema:
            type: string
          example: <Your_venture_id>
        - name: 'filter[activities.id]'
          in: query
          description: Filter agendas with an EXACT activity ID
          required: false
          schema:
            type: string
          example: <Your_venture_id>
        - name: 'filter[locations.label]'
          in: query
          description: Filter agendas with a partial location Label
          required: false
          schema:
            type: string
          example: Track 3
        - name: 'filter[locations.id]'
          in: query
          description: Filter agendas with an EXACT location ID
          required: false
          schema:
            type: string
          example: <Your_location_id>
        - name: 'filter[hour_types.label]'
          in: query
          description: Filter agendas with a partial hour_type Label
          required: false
          schema:
            type: string
          example: morning
        - name: 'filter[hour_types.id]'
          in: query
          description: Filter agendas with an EXACT hour_type ID
          required: false
          schema:
            type: string
          example: <Your_hour_type_id>
        - name: 'filter[subcategory.label]'
          in: query
          description: Filter agendas with a partial subcategory Label
          required: false
          schema:
            type: string
          example: Junior karts
        - name: 'filter[subcategory_id]'
          in: query
          description: Filter agendas with and EXACT subcategory ID
          required: false
          schema:
            type: string
          example: <Your_subcategory_id>
        - name: include
          in: query
          description: Filter agendas with and EXACT subcategory ID
          required: false
          schema:
            type: string
          example: 'activities,subcategory,location,hourType'
        - name: withSubcategory
          in: query
          description: Expand agendas with detailed subcategory instead of only ID
          required: false
          schema:
            type: boolean
          example: 'true'
        - name: withLocation
          in: query
          description: Expand agendas with detailed location instead of only ID
          required: false
          schema:
            type: boolean
          example: 'true'
        - name: withHourType
          in: query
          description: Expand agendas with detailed hour_type instead of only ID
          required: false
          schema:
            type: boolean
          example: 'true'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Agenda'
                  metadata:
                    type: array
                    items:
                      type: object
                type: object
        '404':
          description: No Match for query
    post:
      tags:
        - Agendas
      operationId: storeAgenda
      requestBody:
        $ref: '#/components/requestBodies/CreateAgendaRequest'
      responses:
        '201':
          description: Success
  '/agendas/daily-stats/{year}':
    get:
      tags:
        - Agendas
      description: 'Returns one entry per day for the given year, indicating whether an agenda exists that day, if it matches the current typical week, and whether any bookings (including orphan bookings) exist.'
      operationId: getAgendaDailyStats
      parameters:
        - name: year
          in: path
          description: Year to retrieve stats for
          required: true
          schema:
            type: integer
            example: 2025
        - name: typical_week_id
          in: query
          description: Typical week ID to compare against agendas
          required: false
          schema:
            type: string
            format: uuid
            example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    date:
                      type: string
                      format: date
                      example: '2025-05-30'
                    is_current_typical_week:
                      type: boolean
                      example: false
                    has_bookings:
                      type: boolean
                      example: true
                  type: object
        '404':
          description: Year not found or out of range
  /agendas/deploy:
    post:
      tags:
        - Agendas
      description: Deploy agendas for specific dates based on mode (week or day)
      operationId: deployAgendas
      requestBody:
        $ref: '#/components/requestBodies/DeployAgendaRequest'
      responses:
        '202':
          description: Deployment job queued
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Deployment job has been queued
                  metadata:
                    properties:
                      mode:
                        type: string
                        example: week
                      dates_count:
                        type: integer
                        example: 3
                      day_index:
                        type: integer
                        example: 0
                    type: object
                type: object
        '422':
          description: Validation error
  /agendas/duplicate:
    post:
      tags:
        - Agendas
      description: 'Duplicates multiple agendas either before or after their original time slot, while avoiding overlaps with existing agendas. Returns only the successfully created duplicates.'
      operationId: duplicateAgendas
      requestBody:
        $ref: '#/components/requestBodies/BatchDuplicateAgendaRequest'
      responses:
        '201':
          description: Agendas successfully duplicated
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Agenda'
        '422':
          description: Validation error
  /agendas/duplicate-day:
    post:
      tags:
        - Agendas
      description: Duplicate all agendas from one day to one or multiple other dates.
      operationId: duplicateAgendaDay
      requestBody:
        $ref: '#/components/requestBodies/DuplicateDayRequest'
      responses:
        '201':
          description: Agendas duplicated
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Agenda'
        '422':
          description: Validation error
  /agendas/mass-update:
    post:
      tags:
        - Agendas
      operationId: massUpdateAgendas
      requestBody:
        $ref: '#/components/requestBodies/AgendaMassUpdateRequest'
      responses:
        '202':
          description: Mass update scheduled
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      batch_id:
                        type: string
                    type: object
                  metadata:
                    properties:
                      queued_at:
                        type: string
                        format: date-time
                      progress_url:
                        type: string
                    type: object
                type: object
        '422':
          description: Validation error
  /agendas/operational:
    post:
      tags:
        - Agendas
      operationId: generateOperationalPdfPlanning
      requestBody:
        $ref: '#/components/requestBodies/CreateOperationalPdfRequest'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                  metadata:
                    type: array
                    items:
                      type: bool
                type: object
        '401':
          description: Not allowed
        '422':
          description: Validation error
  '/agendas/{agenda_id}':
    get:
      tags:
        - Agendas
      operationId: showAgenda
      parameters:
        - name: agenda_id
          in: path
          description: The ID of the agenda we're querying.
          required: true
          schema:
            type: string
          example: AXX..
        - name: include
          in: query
          description: sub-resources to include
          required: false
          schema:
            type: string
          example: 'location,subCategory,'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Agenda'
                type: object
        '404':
          description: No Match for query
    delete:
      tags:
        - Agendas
      operationId: deleteAgenda
      parameters:
        - name: agenda_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/DeleteAgendaRequest'
      responses:
        '204':
          description: Success
    patch:
      tags:
        - Agendas
      operationId: updateAgenda
      parameters:
        - name: agenda_id
          in: path
          description: The ID of the agenda we want to update.
          required: true
          schema:
            type: string
          example: 'true'
      requestBody:
        $ref: '#/components/requestBodies/UpdateAgendaRequest'
      responses:
        '201':
          description: Success
  '/agendas/{agenda_id}/activities':
    get:
      tags:
        - Agendas
      operationId: listAgendaActivities
      parameters:
        - name: agenda_id
          in: path
          required: true
          schema:
            type: string
        - name: withProduct
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Activity'
                  metadata:
                    type: array
                    items:
                      type: object
                type: object
        '404':
          description: No Match for query
  '/agendas/{agenda_id}/test-michv8':
    post:
      tags:
        - Agendas
      description: Test endpoint to manually trigger MichV8 recalculation on a specific agenda. Recalculates all counters synchronously.
      operationId: testMichV8OnAgenda
      parameters:
        - name: agenda_id
          in: path
          description: The ID of the agenda to recalculate
          required: true
          schema:
            type: string
            format: uuid
        - name: booking_id
          in: query
          description: Optional booking ID to include in the recalculation context
          required: false
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: MichV8 recalculation completed successfully
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: MichV8 recalculation completed
                  data:
                    properties:
                      agenda_id:
                        type: string
                      booking_id:
                        type:
                          - string
                          - 'null'
                      duration_ms:
                        type: number
                        example: 45.23
                      executed_at:
                        type: string
                        format: date-time
                    type: object
                type: object
        '404':
          description: Agenda not found
  '/agendas/{venture_id}/availabilities-days':
    get:
      tags:
        - Agendas
      operationId: listAvailabilitiesDays
      parameters:
        - name: venture_id
          in: path
          required: true
          schema:
            type: string
          example: df9f2df0-0173-11eb-b0e6-dd3c04707d99
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: '2024-01-01 16:00:01'
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date-time
          example: '2024-01-01 16:00:01'
        - name: products
          in: query
          required: true
          schema:
            type: array
            items:
              properties:
                product_id:
                  type: string
                  example: df9f2df0-0173-11eb-b0e6-dd3c04707d77
                nbr:
                  type: integer
                  example: 1
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      properties:
                        product_id:
                          type: integer
                        nbr:
                          type: integer
                        activity_start_at:
                          type: string
                          format: date-time
                        activity_end_at:
                          type: string
                          format: date-time
                      type: object
                  common_days:
                    type: array
                    items:
                      properties:
                        day:
                          type: string
                          format: date
                      type: object
                type: object
        '404':
          description: No Match for query
  '/agendas/{venture_id}/availabilities-slots':
    get:
      tags:
        - Agendas
      operationId: listavailabilitiesSlots
      parameters:
        - name: venture_id
          in: path
          required: true
          schema:
            type: string
          example: df9f2df0-0173-11eb-b0e6-dd3c04707d99
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date-time
            example: '2024-01-01 16:00:01'
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date-time
          example: '2024-01-01 16:00:01'
        - name: products
          in: query
          required: true
          schema:
            type: array
            items:
              properties:
                product_id:
                  type: string
                  example: df9f2df0-0173-11eb-b0e6-dd3c04707d77
                nbr:
                  type: integer
                  example: 1
              type: object
        - name: 'isValidStartDate '
          in: query
          required: false
          schema:
            type: boolean
          example: 'true'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      properties:
                        product_id:
                          type: integer
                        qty:
                          type: integer
                        activity_start_at:
                          type: string
                          format: date-time
                        activity_end_at:
                          type: string
                          format: date-time
                      type: object
                  common_slots:
                    type: array
                    items:
                      properties:
                        start:
                          type: string
                          format: date-time
                        end:
                          type: string
                          format: date-time
                      type: object
                type: object
        '404':
          description: No Match for query
  /attributes:
    get:
      tags:
        - Attributes
      operationId: listAttributes
      parameters:
        - name: 'filter[key]'
          in: query
          description: Filter logs with a partial key
          required: false
          schema:
            type: string
          example: venture_attribute_key
        - name: 'filter[attributable_id]'
          in: query
          description: Filter logs with a exact attributable_id
          required: false
          schema:
            type: string
          example: <YOUR_ATTRIBUTABLE_ID>
        - name: 'filter[locale]'
          in: query
          description: Filter logs with a exact lang
          required: false
          schema:
            type: string
          example: fr
        - name: 'filter[attributable_type]'
          in: query
          description: Filter logs with a partial attributable type
          required: false
          schema:
            type: string
          example: Venture
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Attribute'
                  metadata:
                    type: array
                    items:
                      type: object
                type: object
        '404':
          description: No Match for query
  /auth/impersonate:
    post:
      tags:
        - Auth
      operationId: impersonateUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - slug
                - token
              properties:
                slug:
                  description: Tenant slug
                  type: string
                token:
                  description: Impersonate token (64 chars)
                  type: string
              type: object
      responses:
        '200':
          description: 'Success - returns user_id, token and qweekler_id'
        '401':
          description: Invalid or expired token
  /bookings:
    get:
      tags:
        - Bookings
      operationId: listBookings
      parameters:
        - name: 'filter[locations.id]'
          in: query
          description: Filter bookings with an EXACT location ID.
          required: false
          schema:
            type: string
          example: <YOUR_LOCATION_ID>
        - name: 'filter[agenda.id]'
          in: query
          description: Filter bookings with an EXACT agenda ID
          required: false
          schema:
            type: string
          example: <YOUR_AGENDA_ID>
        - name: 'filter[venture_id]'
          in: query
          description: Filter bookings with an EXACT venture ID
          required: false
          schema:
            type: string
          example: <Your_venture_id>
        - name: 'filter[in_category]'
          in: query
          description: Scope bookings with an EXACT category ID
          required: false
          schema:
            type: string
          example: <category_id>
        - name: 'filter[in_subcategory]'
          in: query
          description: Scope bookings with an EXACT subcategory ID
          required: false
          schema:
            type: string
          example: <subcategory_id>
        - name: 'filter[client_id]'
          in: query
          description: Filter bookings with an EXACT client ID
          required: false
          schema:
            type: string
          example: <Your_client_id>
        - name: 'filter[order_id]'
          in: query
          description: Filter bookings with an EXACT order ID
          required: false
          schema:
            type: string
          example: <Your_order_id>
        - name: 'filter[order_number]'
          in: query
          description: Filter bookings with an order number containing the given value
          required: false
          schema:
            type: string
          example: <Your_order_number>
        - name: 'filter[created_by]'
          in: query
          description: Filter bookings with an EXACT user id
          required: false
          schema:
            type: string
          example: <Your_user_id>
        - name: 'filter[locations.label]'
          in: query
          description: Filter bookings with a partial location label.
          required: false
          schema:
            type: string
          example: starlabs
        - name: 'filter[activities.label]'
          in: query
          description: Filter bookings with a partial activity label.
          required: false
          schema:
            type: string
          example: superspeed jog
        - name: 'filter[activity_id]'
          in: query
          description: Filter bookings on activity_id
          required: false
          schema:
            type: string
        - name: 'filter[client_search]'
          in: query
          description: Filter bookings with a partial client email/name/society.
          required: false
          schema:
            type: string
          example: Flash
        - name: 'filter[recipient_search]'
          in: query
          description: Filter bookings with a partial recipient email/name/society.
          required: false
          schema:
            type: string
          example: Iris
        - name: 'filter[state]'
          in: query
          description: Filter bookings with an EXACT state.
          required: false
          schema:
            type: string
        - name: 'filter[activated]'
          in: query
          description: Filter bookings which occupy capacity in your planning
          required: false
          schema:
            type: boolean
          example: '1'
        - name: 'filter[agenda.starts_between]'
          in: query
          description: Scope AGENDA which start between two datetimes
          required: false
          schema:
            type: string
          example: '2023-01-01T00:00:00,2023-01-02T00:00:00'
        - name: 'filter[starts_between]'
          in: query
          description: Scope bookings which start between two datetimes
          required: false
          schema:
            type: string
          example: '2023-01-01T00:00:00,2023-01-02T00:00:00'
        - name: 'filter[ends_between]'
          in: query
          description: Scope bookings which start between two datetimes
          required: false
          schema:
            type: string
          example: '2023-01-01T00:00:00,2023-01-02T00:00:00'
        - name: 'filter[created_at]'
          in: query
          description: Filter bookings with a partial creation datetime
          required: false
          schema:
            type: string
            format: date-time
          example: '2023-01-01'
        - name: 'filter[created_between]'
          in: query
          description: Scope bookings created between two datetimes
          required: false
          schema:
            type: string
          example: '2023-01-01T00:00:00,2023-01-02T00:00:00'
        - name: 'filter[updated_at]'
          in: query
          description: Filter bookings with a partial update datetime
          required: false
          schema:
            type: string
            format: date-time
          example: '2023-01-01'
        - name: 'filter[order_has_client_note]'
          in: query
          description: Filter bookings with client notes.
          required: false
          schema:
            type: boolean
          example: 'true'
        - name: 'filter[order_has_internal_note]'
          in: query
          description: Filter bookings with internal notes.
          required: false
          schema:
            type: boolean
          example: 'true'
        - name: 'filter[is_pack]'
          in: query
          description: Scope only bookings that are part of a package.
          required: false
          schema:
            type: boolean
          example: 'true'
        - name: 'filter[with_cancelled]'
          in: query
          description: Scope only bookings that belongs to a cancelled order
          required: false
          schema:
            type: boolean
          example: 'true'
        - name: 'filter[expired_after]'
          in: query
          description: Scope only bookings which order_item are expired after a given date.
          required: false
          schema:
            type: string
            format: date-time
          example: '2023-01-01T00:00:00'
        - name: 'filter[origin_pos_type]'
          in: query
          description: Scope only bookings which order_item with given origin_pos_type.
          required: false
          schema:
            $ref: '#/components/schemas/PosType'
        - name: 'filter[with_custom_tagged_order]'
          in: query
          description: Scope only bookings which order is bearing specified custom_tags.
          required: false
          schema:
            type: string
        - name: 'filter[staffed]'
          in: query
          description: Scope only bookings with specific affected staff members.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: 'filter[single_capacity]'
          in: query
          description: Scope only bookings marked single_capacity.
          required: false
          schema:
            type: boolean
        - name: 'filter[status]'
          in: query
          description: Filter bookings with order status.
          required: false
          schema:
            $ref: '#/components/schemas/OrderStatus'
          example: proposal
        - name: 'filter[origin]'
          in: query
          description: Filter bookings on origin.
          required: false
          schema:
            $ref: '#/components/schemas/BookingOrigin'
          example: web
        - name: sort
          in: query
          description: Sort results (defaults to -start_at).
          required: false
          schema:
            type: string
          example: 'status, product_label, client_id'
        - name: include
          in: query
          description: Sub-resources to include
          required: false
          schema:
            type: string
          example: 'client, saleItem.sale, orderItem.creator.'
        - name: 'filter[orphan]'
          in: query
          description: Filter bookings where agenda_id is NULL
          required: false
          schema:
            type: boolean
          example: 'true'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Booking'
                  metadata:
                    type: array
                    items:
                      type: object
                type: object
        '404':
          description: No Match for query
    post:
      tags:
        - Bookings
      operationId: storeBooking
      requestBody:
        $ref: '#/components/requestBodies/CreateBookingRequest'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Booking'
                type: object
  /bookings/export:
    post:
      tags:
        - Bookings
      operationId: exportBookings
      parameters:
        - name: 'filter[locations.id]'
          in: query
          description: Filter bookings with an EXACT location ID.
          required: false
          schema:
            type: string
          example: <YOUR_LOCATION_ID>
        - name: 'filter[agenda.id]'
          in: query
          description: Filter bookings with an EXACT agenda ID
          required: false
          schema:
            type: string
          example: <YOUR_AGENDA_ID>
        - name: 'filter[venture_id]'
          in: query
          description: Filter bookings with an EXACT venture ID
          required: false
          schema:
            type: string
          example: <Your_venture_id>
        - name: 'filter[in_category]'
          in: query
          description: Scope bookings with an EXACT category ID
          required: false
          schema:
            type: string
          example: <category_id>
        - name: 'filter[in_subcategory]'
          in: query
          description: Scope bookings with an EXACT subcategory ID
          required: false
          schema:
            type: string
          example: <subcategory_id>
        - name: 'filter[client_id]'
          in: query
          description: Filter bookings with an EXACT client ID
          required: false
          schema:
            type: string
          example: <Your_client_id>
        - name: 'filter[order_id]'
          in: query
          description: Filter bookings with an EXACT order ID
          required: false
          schema:
            type: string
          example: <Your_order_id>
        - name: 'filter[order_number]'
          in: query
          description: Filter bookings with an order number containing the given value
          required: false
          schema:
            type: string
          example: <Your_order_number>
        - name: 'filter[created_by]'
          in: query
          description: Filter bookings with an EXACT user id
          required: false
          schema:
            type: string
          example: <Your_user_id>
        - name: 'filter[locations.label]'
          in: query
          description: Filter bookings with a partial location label.
          required: false
          schema:
            type: string
          example: starlabs
        - name: 'filter[activities.label]'
          in: query
          description: Filter bookings with a partial activity label.
          required: false
          schema:
            type: string
          example: superspeed jog
        - name: 'filter[activity_id]'
          in: query
          description: Filter bookings on activity_id
          required: false
          schema:
            type: string
        - name: 'filter[client_search]'
          in: query
          description: Filter bookings with a partial client email/name/society.
          required: false
          schema:
            type: string
          example: Flash
        - name: 'filter[recipient_search]'
          in: query
          description: Filter bookings with a partial recipient email/name/society.
          required: false
          schema:
            type: string
          example: Iris
        - name: 'filter[state]'
          in: query
          description: Filter bookings with an EXACT state.
          required: false
          schema:
            type: string
        - name: 'filter[activated]'
          in: query
          description: Filter bookings which occupy capacity in your planning
          required: false
          schema:
            type: boolean
          example: '1'
        - name: 'filter[agenda.starts_between]'
          in: query
          description: Scope bookings which start between two datetimes
          required: false
          schema:
            type: string
          example: '2023-01-01T00:00:00,2023-01-02T00:00:00'
        - name: 'filter[created_at]'
          in: query
          description: Filter bookings with a partial creation datetime
          required: false
          schema:
            type: string
            format: date-time
          example: '2023-01-01'
        - name: 'filter[created_between]'
          in: query
          description: Scope bookings created between two datetimes
          required: false
          schema:
            type: string
          example: '2023-01-01T00:00:00,2023-01-02T00:00:00'
        - name: 'filter[updated_at]'
          in: query
          description: Filter bookings with a partial update datetime
          required: false
          schema:
            type: string
            format: date-time
          example: '2023-01-01'
        - name: 'filter[order_has_client_note]'
          in: query
          description: Filter bookings with client notes.
          required: false
          schema:
            type: boolean
          example: 'true'
        - name: 'filter[order_has_internal_note]'
          in: query
          description: Filter bookings with internal notes.
          required: false
          schema:
            type: boolean
          example: 'true'
        - name: 'filter[is_pack]'
          in: query
          description: Scope only bookings that are part of a package.
          required: false
          schema:
            type: boolean
          example: 'true'
        - name: 'filter[cancelled]'
          in: query
          description: Scope only bookings that belongs to a cancelled order
          required: false
          schema:
            type: boolean
          example: 'true'
        - name: 'filter[expired_after]'
          in: query
          description: Scope only bookings which order_item are expired after a given date.
          required: false
          schema:
            type: string
            format: date-time
          example: '2023-01-01T00:00:00'
        - name: 'filter[origin_pos_type]'
          in: query
          description: Scope only bookings which order_item with given origin_pos_type.
          required: false
          schema:
            $ref: '#/components/schemas/PosType'
        - name: 'filter[with_custom_tagged_order]'
          in: query
          description: Scope only bookings which order is bearing specified custom_tags.
          required: false
          schema:
            type: string
        - name: 'filter[staffed]'
          in: query
          description: Scope only bookings with specific affected staff members.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: 'filter[single_capacity]'
          in: query
          description: Scope only bookings marked single_capacity.
          required: false
          schema:
            type: boolean
        - name: 'filter[status]'
          in: query
          description: Filter bookings with order status.
          required: false
          schema:
            $ref: '#/components/schemas/OrderStatus'
          example: proposal
        - name: 'filter[origin]'
          in: query
          description: Filter bookings on origin.
          required: false
          schema:
            $ref: '#/components/schemas/BookingOrigin'
          example: web
        - name: sort
          in: query
          description: Sort results (defaults to -start_at).
          required: false
          schema:
            type: string
          example: 'status, product_label, client_id'
      responses:
        '200':
          description: Success
          content:
            application/pdf: {}
        '401':
          description: Not allowed
  '/bookings/{booking_id}':
    get:
      tags:
        - Bookings
      operationId: showBooking
      parameters:
        - name: booking_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Booking'
                type: object
        '401':
          description: Not allowed
    delete:
      tags:
        - Bookings
      operationId: deleteBooking
      parameters:
        - name: booking_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/DeleteBookingRequest'
      responses:
        '204':
          description: Success
    patch:
      tags:
        - Bookings
      operationId: updateBooking
      parameters:
        - name: booking_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/UpdateBookingRequest'
      responses:
        '200':
          description: Success
  '/bookings/{booking_id}/check-in':
    patch:
      tags:
        - Bookings
      operationId: checkInBooking
      parameters:
        - name: booking_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                check_in_at:
                  type: string
                  format: date-time
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
  '/bookings/{booking_id}/check-out':
    patch:
      tags:
        - Bookings
      operationId: checkOutBooking
      parameters:
        - name: booking_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                check_out_at:
                  type: string
                  format: date-time
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
  '/bookings/{booking_id}/planning':
    patch:
      tags:
        - Bookings
      operationId: updateBookingPlanning
      parameters:
        - name: booking_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/UpdateBookingPlanningRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
  /cash-diffs:
    get:
      tags:
        - Cash Diffs
      operationId: listCashDiffs
      responses:
        '200':
          description: Success
        '401':
          description: Not allowed
  '/cash-diffs/{cash_diff_id}':
    get:
      tags:
        - Cash Diffs
      operationId: 5e7be2b33aea0cbcbb52ddb6bc6a7e8f
      parameters:
        - name: cash_diff_id
          in: path
          required: true
          schema:
            type: string
        - name: withAttributes
          in: query
          description: Expand cashDiff with attributes
          required: false
          schema:
            type: string
          example: true
      responses:
        '200':
          description: Success
        '401':
          description: Not allowed
    patch:
      tags:
        - Cash Diffs
      operationId: updateCashDiff
      parameters:
        - name: cash_diff_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/UpdateCashDiffRequest'
      responses:
        '200':
          description: Success
  /categories:
    get:
      tags:
        - Categories
      operationId: 8e13bea676ad8c2a1324fba6770a31fb
      parameters:
        - name: all
          in: query
          description: Return all results without pagination
          required: false
          schema:
            type: boolean
          example: 'true'
        - name: limit
          in: query
          description: 'Maximum number of results when using all=true (default: 500)'
          required: false
          schema:
            type: integer
          example: '500'
        - name: 'filter[label]'
          in: query
          description: Filter categories with a partial label.
          required: false
          schema:
            type: string
        - name: 'filter[venture_id]'
          in: query
          description: Filter categories with an EXACT venture_id
          required: false
          schema:
            type: string
          example: <Your_venture_id>
        - name: 'filter[parent_id]'
          in: query
          description: Filter categories with an EXACT parent_id
          required: false
          schema:
            type: string
          example: <Your_parent_id>
        - name: 'filter[bookable_at]'
          in: query
          description: Filter categories that are bookable on a given date
          required: false
          schema:
            type: string
            format: date
          example: '2020-01-01'
        - name: 'filter[plannable]'
          in: query
          description: Scope only sub-categories that are plannable.
          required: false
          schema:
            type: boolean
          example: 'true'
        - name: 'filter[tag_id]'
          in: query
          description: Filter categories with an exact tag_id
          required: false
          schema:
            type: string
            format: date
          example: <Your_tag_id>
        - name: 'filter[show_archived]'
          in: query
          description: Don't filter archived
          required: false
          schema:
            type: boolean
          example: 'true'
        - name: 'filter[has_parent]'
          in: query
          description: Scope categories on wether they have parent or not
          required: false
          schema:
            type: boolean
          example: 'true'
        - name: 'filter[ids]'
          in: query
          description: Scope categories matching given ids
          required: false
          schema:
            type: string
          example: 'true'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'
                  metadata:
                    type: array
                    items:
                      type: object
                type: object
        '404':
          description: No Match for query
    post:
      tags:
        - Categories
      operationId: storeCategory
      requestBody:
        $ref: '#/components/requestBodies/CreateCategoryRequest'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '401':
          description: Not allowed
  /categories/re-order:
    post:
      tags:
        - Categories
      operationId: reorderCategories
      requestBody:
        $ref: '#/components/requestBodies/ReorderCategoryRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'
                  metadata:
                    type: array
                    items:
                      type: object
                type: object
        '404':
          description: No Match for query
  '/categories/{category_id}':
    get:
      tags:
        - Categories
      operationId: showCategory
      parameters:
        - name: category_id
          in: path
          description: Id of the category we wish to review.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '401':
          description: Not allowed
    delete:
      tags:
        - Categories
      operationId: deleteCategory
      parameters:
        - name: category_id
          in: path
          description: Id of the category we wish to delete.
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/DeleteCategoryRequest'
      responses:
        '204':
          description: No Content
        '401':
          description: Not allowed
    patch:
      tags:
        - Categories
      operationId: updateCategory
      parameters:
        - name: category_id
          in: path
          description: Id of the category we wish to update.
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/UpdateCategoryRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '401':
          description: Not allowed
  '/categories/{category_id}/media':
    post:
      tags:
        - Categories
      operationId: storeCategoryMedia
      parameters:
        - name: category_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/CreateInvitationCardMediaRequest'
      responses:
        '200':
          description: Success
  /client-groups:
    get:
      tags:
        - ClientGroups
      operationId: listClientGroups
      parameters:
        - name: 'filter[label]'
          in: query
          description: Filter client groups with a partial label.
          required: false
          schema:
            type: string
          example: vips
        - name: include
          in: query
          required: false
          schema:
            type: string
          example: 'clientsCount,paymodes,products'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ClientGroup'
                  metadata:
                    type: array
                    items:
                      type: object
                type: object
        '404':
          description: No Match for query
    post:
      tags:
        - ClientGroups
      operationId: storeClientGroup
      requestBody:
        $ref: '#/components/requestBodies/CreateClientGroupRequest'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/ClientGroup'
                type: object
        '401':
          description: Not allowed
  '/client-groups/{client_group_id}':
    get:
      tags:
        - ClientGroups
      operationId: showClientGroup
      parameters:
        - name: client_group_id
          in: path
          required: true
          schema:
            type: string
        - name: withAttributes
          in: query
          description: Expand client with attributes
          required: false
          schema:
            type: string
          example: true
        - name: withPaymodes
          in: query
          description: Expand client with paymodes
          required: false
          schema:
            type: string
          example: true
        - name: withProducts
          in: query
          description: Expand client with products
          required: false
          schema:
            type: string
          example: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/ClientGroup'
                type: object
        '401':
          description: Not allowed
    delete:
      tags:
        - ClientGroups
      operationId: deleteClientGroup
      parameters:
        - name: client_group_id
          in: path
          description: ID of the client group to delete.
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/DeleteClientGroupRequest'
      responses:
        '204':
          description: Success
        '401':
          description: Not allowed
    patch:
      tags:
        - ClientGroups
      operationId: updateClientGroup
      parameters:
        - name: client_group_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/UpdateClientGroupRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/ClientGroup'
                type: object
        '401':
          description: Not allowed
  '/client-groups/{client_group_id}/clients':
    post:
      tags:
        - ClientGroups
      operationId: attachClientsToGroup
      parameters:
        - name: client_group_id
          in: path
          description: ID of the client group to which you want to attach clients.
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/CreateClientClientGroupsRequest'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/ClientGroup'
                type: object
        '401':
          description: Not allowed
[...]
